.body{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    align-items: center;
    background-image: url('/img/fondo.jpg');
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
     background-attachment: fixed;
   
} 
body.swal2-shown {
  background-color: #fff !important;
}

.loginCard{
    max-width: 350px !important;
    margin:  2em auto;
    text-align: center;
    height: 40%;
    background: #a7c1a86c;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(80, 10, 80, 0.322);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.692);
}

.loginCard:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

h2{
    margin-top: 20px;
}
.header{
    text-align: center;

}

.full-width{
    width: 80%;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.loginCard {
    animation: fadeInUp 0.8s ease forwards;
}
